<section>
    <p>@await Component.InvokeAsync("SiteWelcome")</p>
</section>
<article>
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">...</div>
            <div role="tabpanel" class="tab-pane" id="profile">...</div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </div>
                <div class="col-md-6">
                    <a asp-controller="Home" asp-action="IndexWithView">Home With View</a>
                </div>
                <div class="col-md-12">
                    <img src="~/content/images/av.jpg"  asp-append-version="true"/>
                </div>
            </div>
        </div>

    </div>
</article>
@section scripts{
}