<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<header>

    <h1>h1. Bootstrap heading <small>Secondary text</small>
    </h1>
    <h2>h2. Bootstrap heading <small>Secondary text</small>
    </h2>
    <h3>h3. Bootstrap heading <small>Secondary text</small>
    </h3>
    <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
    <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
    <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
</header>

@RenderBody()
<footer>
    <p>@await Component.InvokeAsync("SiteCopyright", new {numberToTake = 5})</p>
</footer>
<environment name="Development">
    <script src="~/scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</environment>
<environment names="Staging, Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
            asp-fallback-src="/scripts/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
        
    </script>
    <script src="~/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="/scripts/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
        
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="/scripts/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
        
    </script>
</environment>

@RenderSection("scripts", required: false)
</body>
</html>
