@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var localizer = HtmlLocalizerFactory.Create(
            baseName: "Views.Shared._LoginPartial" /*مشخصات ویو جاری*/,
            location: "SampleFive.ExternalResources" /*نام اسمبلی ثالث*/);
}

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link"><i class="fa fa-sign-out"></i> @localizer["Log off"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-registered"></i> @localizer["Register"]</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i> @localizer["Log in"]</a></li>
    </ul>
}
